@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;600&display=swap");
* {
  &,
  &:before,
  &:after {
    all: unset;
    display: revert;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

html,
body {
  text-align: center;
  font-family: Inconsolata, Consolas, monospaced;
  background-color: #202125;
  color: #9cb898;
  font-size: 16px;
  line-height: 1.5;
}


li {
  list-style: none;
}

h1,
h2,
h3,
a {
  color: #f14666;
}

h1 {
  font-size: 2rem;
  padding-bottom: 0.5em;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}
p {
  font-size: 1rem;
}

a {
  padding: 0.5rem;
  display: inline-block;
  position: relative;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: #ffcdaa;
    transform: scale(1.2);
  }

  &:active {
    text-decoration: underline;
  }
}

header,
main,
footer {
  width: 100%;
  padding: 1rem;
}

main{
  padding: 0 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}

.slick-prev,
.slick-next {
  background-color: #9cb898;
  width: 40px;
}

.slick-dots {
  button {
    &:before {
      color: #ffcdaa !important;
    }
  }
}

.selected {
  color: #ffcdaa;
  text-decoration: underline;
}

@media (min-width: 768px) {
  a {
    padding: 1rem;
  }
}
