.me{
  img {
    width: 200px;
  }
  margin-bottom: 1em;
}

.interest, 
.social{
  display: inline;
}

.interest{
  margin: 0 0.5em;
}

.social{
  &:hover{
    transform: scale(1.2);
  }
  a{
    max-width: 32px;
    margin: 0.3em;
  }
}

.socials{
  display: flex;
  justify-content: center;
  align-items: center;
}

.interests{
  margin: auto;
}